{% extends 'base.html.twig' %}

{% block title %}ShipSio{% endblock %}

{% block entete %}
    {% include '/elements/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <p>Bonsoir Paris </p>
{% endblock %}

{% block footer %}
    {% include '/elements/footer.html.twig' %}
{% endblock %}